view,navigator{box-sizing: border-box;}
image{
	width: 100%;
	height: 100%;
	display: block;
}
.addGoodsBox{
	border-top: 1rpx solid #E6E6E6;
	padding-top: 32rpx;
}
.addGoods{
	width: 686rpx;
	height: 122rpx;
	background: #FFEBE3;
	padding: 20rpx 32rpx;
	position: relative;
	margin: 0 auto;
	border-radius: 20rpx;
	.bg{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	.info{
		position: relative;
		z-index: 2;
		.tipBox{
			.tip1{
				line-height: 40rpx;
				font-size: 28rpx;
				font-weight: bold;
				color: #333333;
			}
			.tip2{
				margin-top: 6rpx;
				line-height: 36rpx;
				font-size: 26rpx;
				color: #666666;
			}
		}
		.upload{
			width: 120rpx;
			height: 58rpx;
			background: linear-gradient(180deg, #FF9973 0%, #FF7541 100%);
			box-shadow: 0px 3rpx 6rpx 1rpx #FFBAA1;
			border-radius: 30rpx;
			font-size: 28rpx;
			color: white;
			text-align: center;
			line-height: 54rpx;
		}
	}
}
.recommend{
	width: 128rpx;
	height: 44rpx;
	font-size: 32rpx;
	color: #333333;
	font-weight: bold;
	position: relative;
	margin-left: 32rpx;
	margin-top: 32rpx;
	.recommendBg{
		width: 100%;
		height: 24rpx;
		background: linear-gradient(270deg, #FFFFFF 0%, #FFC7B2 100%);
		border-radius: 12rpx;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;
	}
	text{
		position: relative;
		z-index: 2;
	}
}
.m-t-6{margin-top: 6rpx;}
/* 左侧导航布局 start*/

/* 隐藏scroll-view滚动条*/
::-webkit-scrollbar {
	width: 0;
	height: 0;
	color: transparent;
}
.tui-searchbox {
	width: 100%;
	height: 20rpx;
	padding: 0 30rpx;
	box-sizing: border-box;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	z-index: 100;
}
.tui-searchbox::after {
	content: '';
	position: absolute;
	border-bottom: 1rpx solid #eee;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	top: 0;
	right: 0;
	left: 0;
}
.tui-search-input {
	width: 100%;
	height: 60rpx;
	background: #f1f1f1;
	border-radius: 30rpx;
	font-size: 26rpx;
	color: #999;
	display: flex;
	align-items: center;
	justify-content: center;
}
.tui-search-text {
	padding-left: 16rpx;
}
.tab-view {
	width: 176rpx;
	position: fixed;
	left: 0;
	z-index: 10;
}
.tab-bar-item {
	padding: 0 10rpx 0 32rpx;
	height: 96rpx;
	background: #f6f6f6;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	font-size: 28rpx;
	color: #444;
	font-weight: 400;
	position: relative;
	.tabbar_icon{
		margin-left: 4rpx;
	}
	.bottomMask, .topMask{
		position: absolute;
		width: 20rpx;
		height: 20rpx;
		background: white;
		right: 0;
		z-index: 2;
		.maskCont{
			width: 100%;
			height: 100%;
			background: #F5F5F5;
			// background: red;
		}
	}
	.topMask{
		top: -20rpx;
		.maskCont{
			border-radius: 0 0 100% 0;
		}
	}
	.bottomMask{
		bottom: -20rpx;
		.maskCont{
			border-radius: 0 100% 0 0;
		}
	}
}
.active {
	position: relative;
	color: #FF7541;
	background: linear-gradient(90deg, #FFD2C1 0%, rgba(255,255,255,0) 100%);
}
.active::before {
	content: '';
	position: absolute;
	border-left: 12rpx solid #FF7541;
	height: 52rpx;
	border-radius: 0 6rpx 6rpx 0;
	left: 0;
}
/* 左侧导航布局 end*/
.right-box {
	width: 100%;
	position: fixed;
	padding-left: 204rpx;
	box-sizing: border-box;
	left: 0;
}
.page-view {
	width: 100%;
	overflow: hidden;
	padding-right: 32rpx;
	box-sizing: border-box;
	padding-bottom: env(safe-area-inset-bottom);
}
.swiper {
	width: 100%;
	height: 220rpx;
	border-radius: 12rpx;
	overflow: hidden;
	transform: translateZ(0);
}
/* #ifdef MP-WEIXIN */
.swiper .wx-swiper-dot {
	width: 8rpx;
	height: 8rpx;
	display: inline-flex;
	background: none;
	justify-content: space-between;
}
.swiper .wx-swiper-dot::before {
	content: '';
	flex-grow: 1;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 16rpx;
	overflow: hidden;
}
.swiper .wx-swiper-dot-active::before {
	background: #fff;
}
.swiper .wx-swiper-dot.wx-swiper-dot-active {
	width: 16rpx;
}
/* #endif */
/* #ifndef MP-WEIXIN */
>>>.swiper .uni-swiper-dot {
	width: 8rpx;
	height: 8rpx;
	display: inline-flex;
	background: none;
	justify-content: space-between;
}
>>>.swiper .uni-swiper-dot::before {
	content: '';
	flex-grow: 1;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 16rpx;
	overflow: hidden;
}
>>>.swiper .uni-swiper-dot-active::before {
	background: #fff;
}
>>>.swiper .uni-swiper-dot.uni-swiper-dot-active {
	width: 16rpx;
}
/* #endif */
.slide-image {
	width: 100%;
	height: 220rpx;
}
.class-box {
	// padding-top: 30rpx;
	.tagName{
		padding: 16rpx 0 32rpx;
		font-size: 28rpx;
	}
}
.class-item {
	// background: #fff;
	// width: 100%;
	// padding: 20rpx;
	// margin-bottom: 20rpx;
	// border-radius: 12rpx;
}
.class-name {
	line-height: 96rpx;
}
.g-container {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}
.g-box {
	width: 100%;
	border-bottom: 1rpx solid #F0F0F0;
}
.g-image {
	width: 172rpx;
	height: 172rpx;
}
.g-box-pic{
	width: 172rpx;
	height: 172rpx;
	background: #D8D8D8;
	border-radius: 12rpx;
	overflow: hidden;
}
.g-box-info{
	position: relative;
	padding-bottom: 24rpx;
}
.g-title{
	line-height: 42rpx;
}
.prolist-addBox{
	position: absolute;
	bottom: 24rpx;
	right: 0;
	// .prolist-add, .prolist-subtract{
	// 	width: 40rpx;
	// 	height: 40rpx;
		
	// 	line-height: 32rpx;
	// 	background: #ff8c61;
	// 	border-radius: 10rpx;
	// 	text{
	// 		font-size: 26rpx;
	// 		color: white;
	// 	}
	// }
	// .prolist-subtract{
	// 	width: 38rpx;
	// 	height: 38rpx;
	// 	background: white;
	// 	border: 1rpx solid #ff8c61;
	// 	line-height: 40rpx;
	// 	text{
	// 		color: #666666;
	// 	}
	// }
	.selectNum{
		margin: 0 16rpx;
		font-weight: bold;
	}
	.selectBut{
		width: 100rpx;
		height: 44rpx;
		background: linear-gradient(143deg, #FF9191 0%, #FF6161 100%);
		border-radius: 22rpx;
		text-align: center;
		line-height: 44rpx;
		color: white;
		font-size: 24rpx;
	}
}
// 购买弹窗
/deep/ .goods-attr .goods-attr--scroll{
	max-height:444rpx !important;
}
/deep/ .pop--bottom .pop__container{
	bottom: 98rpx;
	bottom:100rpx;
}
.couponMask{
	position: relative;
	z-index: 10;
}
.buyCar{
	position: relative;
	z-index: 10;
}

.footOptShadow{
	box-shadow: 0 -2rpx 20rpx 1rpx #E3E3E3;
}
.footOpt{
	min-height: 120rpx;
	width: 100%;
	position: absolute;
	bottom: 98rpx;
	left: 0;
	z-index: 11;
	padding: 16rpx 32rpx 26rpx;
	background: white;
	padding-bottom:calc(26rpx + env(safe-area-inset-bottom)/2);
	.imgBox{
		width: 68rpx;
		height: 68rpx;
		position: relative;
		image{
			width: 100%;
			height: 100%;
		}
		.num{
			position: absolute;
			top: -14rpx;
			right: -14rpx;
			width: 40rpx;
			height: 40rpx;
			background: #FB1A1E;
			border-radius: 22rpx;
			border: 1rpx solid #FFFFFF;
			text-align: center;
			line-height: 36rpx;
			font-size: 24rpx;
			color: white;
		}
	}
	.allPrice{
		margin-left: 20rpx;
		font-size: 28rpx;
		color: #FB1A1E;
		height: 60rpx;
		.priceNum{
			font-size: 48rpx;
			line-height: 48rpx;
		}
		.coupon{
			font-size: 26rpx;
			color: #666666;
			margin-left: 24rpx;
			text{
				color: #FF7541;
			}
		}
	}
	.toBuy{
		width: 200rpx;
		height: 82rpx;
		background: linear-gradient(159deg, #FF9973 0%, #FF7541 100%);
		box-shadow: inset 0 3rpx 6rpx 1rpx #FFB295;
		border-radius: 40rpx;
		color: white;
		line-height: 82rpx;
		text-align: center;
		font-size: 30rpx;
	}
}
.popup-main{
	width: 510rpx;
	background: #FFFFFF;
	border-radius: 20rpx;
	padding: 50rpx 70rpx;
	.title{
		position: relative;
		text-align: center;
		color: #333333;
		font-size: 30rpx;
		font-weight: bold;
		margin-bottom: 50rpx;
		.pop-close{
			position: absolute;
			right: -20rpx;
			top: -2rpx;
			text{
				font-size: 24rpx;
				color: #999999;
			}
		}
	}
	.checkList{
		width: 370rpx;
		height: 130rpx;
		background: #D8D8D8;
		border-radius: 64rpx;
		padding: 0 32rpx 0 16rpx;
		color: #666666;
		.imgBox{
			width: 100rpx;
			height: 100rpx;
			image{
				width: 100%;
				height: 100%;
			}
		}
		.checkInfo{
			margin-left: 20rpx;
			.checkName{
				font-size: 30rpx;
				line-height: 42rpx;
			}
			.checkMsg{
				font-size: 22rpx;
				line-height: 30rpx;
				margin-top: 6rpx;
			}
		}
		&:active{
			background: #FFCCA6;
			color: #FF7541;
		}
	}
}